<div style="margin:auto; text-align: center;">
  <h2>Log in *</h2>

  {{$flashes := .Flashes}}
  {{if $flashes}}
    <ul>
      {{range $flash := $flashes}}
        <li>{{$flash.Message}}</li>
      {{end}}
    </ul>
  {{end}}

  <div>
    <a href="{{.AuthURL "register"}}">Sign Up</a>
  </div>


  {{if .Auth.GetProvider "password"}}
      <form action="{{.AuthURL "password/login"}}" method="POST">
        <ul class="auth-form">
          <li>
            <label for="email">Email</label>
            <input type="email" id="email" name="login" placeholder="your email" value="{{.FormValue "login"}}">
          </li>

          <li>
            <label for="password">Password</label>
            <a class="forgot-password" href="{{.AuthURL "password/new"}}">Forgot?</a>
            <input type="password" class="form-control" id="password" name="password" placeholder="your password">
          </li>

          <li>
            <button type="submit" class="button button__primary">Sign in</button>
          </li>
        </ul>
      </form>
    {{end}}
</div>
